.sidebar // 内容滚动条
    &::-webkit-scrollbar
        width  .5rem
        height 0
    &::-webkit-scrollbar-thumb
        border-radius .5rem
        background    #fff
    &:hover
        &::-webkit-scrollbar-thumb
            background-color lighten($accentColor, 85%)
            background-image -webkit-linear-gradient(
                45deg,
                #fff4 0%,
                #eff3 12.5%,
                #fefb 12.5%,
                #ffea 25%,
                #fff4 25%,
                #eff3 37.5%,
                #fefb 37.5%,
                #ffea 50%,
                #fff4 50%,
                #eff3 62.5%,
                #fefb 62.5%,
                #ffea 75%,
                #fff4 75%,
                #eff3 87.5%,
                #fefb 87.5%,
                #ffea
            )
            &:hover
                background-color rgba(desaturate($accentColor, 10%), .5)

pre // 代码块滚动条（横向）
    &::-webkit-scrollbar
        width  0
        height .5rem
    &::-webkit-scrollbar-thumb
        border-radius .5rem
        background    $codeBgColor
    &:hover // 滚动条hover提高亮度
        &::-webkit-scrollbar-thumb
            background lighten($codeBgColor, 30%)
            &:hover
                background lighten($codeBgColor, 60%)